<footer class="text-white pt-5 pb-4" style="background: #214252;">
    <div class="container text-center text-md-left">
        <div class="row text-center text-md-left">
            <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-3" data-aos="zoom-in-up" data-aos-delay="300">
                <h4 class="text-uppercase mb-4 font-weight-bold">Abhishek Pandey</h4>
                <p>I’m curious, and I enjoy work that challenges me to learn something new and stretch in a different
                    direction. I do my best to stay on top of changes in the state of the art so that I can meet challenges
                    with tools well suited to the job at hand</p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3" data-aos="zoom-in-up" data-aos-delay="300">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Connect On</h5>
                <p><a href="https://www.facebook.com/profile.php?id=100008140506566" class="text-white" style="text-decoration: none;"><i
                            class="fab fa-facebook-square mr-3"></i>Facebook</a></p>
                <p><a href="https://www.youtube.com/channel/UCSwcO46fZINr7ybEHtOjjVQ" class="text-white" style="text-decoration: none;"><i
                            class="fab fa-youtube mr-3"></i>YouTube</a></p>
                <p><a href="https://www.instagram.com/abhhishek_17/" class="text-white" style="text-decoration: none;"><i
                            class="fab fa-instagram mr-3"></i>Instagram</a></p>
                <p><a href="https://twitter.com/IimtAbhishek" class="text-white" style="text-decoration: none;"><i
                            class="fab fa-twitter mr-3"></i>Twitter</a></p>
                <p><a href="https://github.com/Abhisekpndy17" class="text-white" style="text-decoration: none;"><i
                                class="fab fa-instagram mr-3"></i>Github</a></p>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3" data-aos="zoom-in-up" data-aos-delay="300">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning"> <i class="far fa-address-card"></i>Contact Us</h5>
                <p><i class="fas fa-home mr-3"></i>E-162 Alpha 1<sup>st</sup> , Greater Noida, Uttar Pradesh</p>
                <p><i class="fas fa-envelope mr-3"></i>abhhishekpandey47@gmail.com</p>
                <p><i class="fas fa-phone mr-3"></i>+91 8505921813</p>
                <p><i class="fas fa-print mr-3"></i>+00 234567789</p>
            </div>
        </div>
        <hr>
        <div class="row text-center text-md-left">
            <div class="col-md-6 col-lg-6 col-xl-6 mx-auto mt-3">
                &copy;copyright 2020
            </div>
            <div class="col-md-6 col-lg-6 col-xl-6 mx-auto mt-5" >
                <p class="text-muted text-md-right mb-0"><sub>Design &</sub> Developed By <sup>Abhishek Pandey</sup></p>
            </div>
        </div>
    </div>
</footer>