{% extends 'portfolio/base.html' %}
{% load static %}
{% block title %}
  Abhishek || Works
{% endblock  %}
{% block content %}
<section class="bg-dark text-white pt-5 pb-4">
    <div class="container text-center text-md-left">
        <div class="row text-center text-md-left">
            <div class="col-md-10 col-lg-10 col-xl-10 mx-auto mt-3" data-aos="zoom-in" data-aos-delay="100">
                <h1 class="text-uppercase mb-4 font-weight-bold text-warning">CAUTION - Page Not Found</h1>
                <div class="display-1 mb-4 font-weight-bold">404</div>
                <p class="small">This page is in under construction</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit alias quos, consequatur nesciunt
                    quidem reprehenderit quas cupiditate ad officia voluptas temporibus ex praesentium eos hic illo
                    tenetur esse aliquid laboriosam earum? Culpa molestiae, accusantium deserunt at atque, omnis dolor
                    consequatur officiis corporis minus quibusdam fugiat veniam doloribus id, nostrum odio!</p>
            </div>
        </div>
    </div>
</section>
{% endblock  %}